/* ----- import fonts ----- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

/* ----- color options ----- */
/*
#f1e128;
#211f22;
#ff4040;
#509cff;
*/

/* ------ set clean elements styling by removing default margins and paddings ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ set easy unit conversion for REM font size (1 REM = 10px) that still allows font scaling in browser ----- */
html {
  font-size: 62.5%;
}

body {
  font-family: "calibri", sans-serif;
  font-size: 1.6rem;
  background-color: #ff31cb; /* ---- remove later ---- */
}

/* ----- navbar ----- */

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  height: 50px;
  background-color: #211f22;
  color: #ffc929;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffc929;
}

nav h1 {
  font-size: 2.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* ----- frontpage containers ----- */

.main__homepage__container {
  display: flex;
}

.race__calendar__container {
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
}

/* ----- race calendar ----- */

.race__events {
  background: #211f22;
  color: #ffc929;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-right: 2px solid #ffc929;
  border-bottom: 2px solid #ffc929;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.race__events:hover {
  background: #000000;
  color: #ff4040;
  cursor: pointer;
}

.event__location {
  display: flex;
  align-items: center;
  white-space: pre-line;
}

.flags {
  max-height: 46px;
  max-width: 46px;
  margin-right: 10px;
}

.event__date {
  white-space: pre-line;
}

.active__event {
  color: #ff4040;
}

/* ----- all info container ----- */

.all__info__container {
  flex: 1 1 auto;
}

/* ----- race countdown timer container ----- */

.race__countdown__timer__container {
  height: 40px;
  background: #27ff56;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
}

/* ----- button dashboard container ----- */

.button__dashboard__container {
  height: 60px;
  background: #1fbcfa;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
}

/* ----- track & time info container ----- */

.track__time__info__container {
  flex-wrap: wrap;
  display: flex;
}

/* ----- track & time info container ----- */

.track__info__container {
  flex: 1 0 50%;
  min-width: 530px; /* --- change later --- */
  display: flex;
  /*min-height: 670px;*/ /* --- change later --- */
}

/* ----- track info container ----- */

.track__info {
  border-bottom: 1px solid #ffc929;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
}

.track__name__container {
  width: 100%;
  height: 10%;
  background: #211f22;
  border-bottom: 1px solid #ffc929;
  border-right: 1px solid #ffc929;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track__name {
  color: #ffc929;
  padding: 5px;
  font-size: 2.4rem;
  font-weight: 400;
}

.track__map__stats__container {
  flex: 1 0 80%;
  height: 100%;
  display: flex;
}

.track__map {
  flex: 1 0 80%;
  background: rgb(255, 255, 236);
}

.circuit-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.track__stats {
  color: #ffc929;
  background: #211f22;
  border-right: 1px solid #ffc929;
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.track__stats__content {
  font-size: 1.8rem;
  line-height: 3rem;
  white-space: pre-line;
  text-align: center;
}

/* ----- time info container ----- */

.time__info__container {
  flex: 1 0 50%;
  color: #ffc929;
  background: #211f22;
  border-bottom: 1px solid #ffc929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
  min-width: 530px;
  /*min-height: 670px;*/
}

#schedule {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

#schedule__title {
  padding-top: 5px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

#schedule__subtitle {
  font-size: 1.8rem;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffc929;
}

.schedule__times {
  text-align: center;
  white-space: pre-line;
  line-height: 1.5rem;
  border-bottom: 1px solid #ffc929;
  width: 80%;
}

#race__time {
  margin-bottom: 20px;
}

.session__title {
  font-weight: 400;
}

.time {
  font-size: 2.4rem;
  font-weight: 300;
  padding: 5px;
}

/* ---------- weather & location info container ---------- */

.weather__location__info__container {
  color: #ffc929;
  background: #211f22;
  display: flex;
  flex-direction: column;
  /*min-height: 670px;*/ /* --- change later --- */
}

/* ----- weather title container ----- */

.weather__title__container {
  color: #ff4040;
  flex: 1 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffc929;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

/* ----- location info container ----- */

.location__info__container {
  flex-wrap: wrap;
  flex: 1 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ffc929;
}

/* ----- location time container ----- */

.location__time__container {
  height: 100%;
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#location {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
}

#local__time {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
}

/* ----- race start time container ----- */

.start__time__container {
  height: 100%;
  min-width: 490px;
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
}

/* ----- weather info container ----- */

.weather__info__container {
  flex-wrap: wrap;
  flex: 1 0 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__info {
  border-radius: 10px;
  border: 2px solid #ffc929;
  margin: 50px;
  height: 300px;
  min-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}

.weather__info__time,
.weather__info__date {
  color: #ffc929;
}

.weather__info__temp {
  color: #ff4040;
}

.weather__info__precip,
.weather__info__rain {
  color: #509cff;
}

/* --------------- media queries --------------- */

/*
@media (max-width: 1397px) {
  .track__time__info__container,
  ._3H__weather__info__container,
  ._24H__weather__info__container,
  ._7D__weather__info__container {
    height: 335px;
  }
}*/
